* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(158, 158, 158, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.link {
    display: block;
    text-align: center;
    padding: 7px 14px;
    background-color: #d03608;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.link:hover {
    background-color: rgba(208, 54, 8, 0.7);
}

.link:active {
    background-color: rgba(208, 54, 8, 0.9);
}